@media only screen and (max-width: 1024px) {
    #title {
        text-align: center;
    }

    .image-iphone {
        position: static;
        transform: rotate(0) !important;
        width: 70%;
        margin: 0 auto;
    }

    .big-heading {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.5rem;
    }

    .feature-box {
        padding: 20px;
        margin-bottom: 20px;
    }

    .press-img {
        width: 80px;
        margin: 10px;
    }
}
